extern/
out/
ide/vs2017/.vs
ide/vs2017/x64
ide/vs2017/*.txt
bench/doc/
bench/ebizzy/
bench/malloc-test/
bench/shbench/sh6bench.c
bench/shbench/sh6bench-new.c
bench/shbench/SH8BENCH.C
bench/shbench/sh8bench-new.c
*.zip
