name: Build and run everything

# The following should ensure that the workflow only runs a single set of actions
# for each PR. But it will not apply this to pushes to the main branch.
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * 1'

jobs:
  build-and-run:
    strategy:
      matrix:
        platform: [ubuntu, alpine, fedora]
      fail-fast: false
    uses: ./.github/workflows/platform.yml
    name: ${{ matrix.platform }}
    with:
      platform: ${{ matrix.platform }}
