name: Build and run everything
on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * 1'
jobs:
  build-all-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Silence some git warnings
        run: git config --global advice.detachedHead false
      - name: Install and build all benchmarks and allocators
        run: ./build-bench-env.sh all no-lean
      - name: Run everything.
        run: |
          cd out/bench
          ../../bench.sh alla allt no-iso
  build-all-osx:
    runs-on: macos-11
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Install and build all benchmarks and allocators
        run: ./build-bench-env.sh all no-lean
      - name: Run everything.
        run: |
          cd out/bench
          ../../bench.sh alla allt no-iso


